body {
	background-color: cadetblue;

}

.container-fluid {
	width: 70%;
	margin-top: 50px;
	background-color: aliceblue;
	border-radius: 10px;
	padding: 0;
}


.app-container {
	display: flex;
	flex-direction: row;
	background-image: linear-gradient(to right, white 50%, darkslategrey 50%);
}

.form {
	width: 90%;
	padding: .3rem;

}

.heading {
	background-color: rebeccapurple;
	color: white;
	padding: .3rem 0;

}

input[type="submit"] {
	transition: all .2s ease;
}

input[type="submit"]:active {
	transform: scale(1.1);
}

input[type="number"] {
	font-size: 1.2rem;
	background-color: darkslategray;
	;
	color: white;
	padding: 0 .3rem;
	width: 60px;
	border-radius: 5px;
	font-weight: 800px;
}

.error-message {
	text-align: center;
	font-size: 1.2rem;
	visibility: hidden;
	color: red;
	font-weight: 500;
}

.generated-names {
	width: 90%;
}

.heading2 {
	width: 100%;
	color: white;
	background-color: black;
	text-align: center;
	padding: .5rem 0;
	margin: 0;

}

.names-container__box {
	padding: .4rem;
}

.names-container__box p {
	color: white;
	font-size: 1.1rem;
	background-color: crimson;
	text-align: center;
	display: block;
	border-radius: 6px;
	width: 150px;
	margin: 6px auto;
	padding: .2rem 0;
	text-transform: uppercase;
}

@media (max-width: 600px) {
	.app-container {
		flex-direction: column;
		background-image: none;
	}

	.container-fluid {
		width: 90%;

	}

	.error-message {
	margin-top: -10px;
		font-weight: 600;
		color: red;
}
	
	.generated-names {
		width: 100%;
		margin-top: -10px;
	}
	
	.form {
	margin: 0 auto;

}


}